---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

@import "base";

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  padding: 0 15px;
  border-top: 2px solid #1c445c;
}

.masthead {
  position: relative;
  height: 60px;
  font-size: 1.6rem;
  line-height: 60px;
  text-align: center;
}

.site-avatar {
  position: absolute;
  left: 0;
  top: 10px;
  width: 40px;
  height: 40px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 50%;
    transition: border-radius .3s;
  }
}

.site-info {
  
  @include mobile {
    font-size: 20px;
    display: block;
    margin: 0 auto;
  }

  a {
    color: $gray;
  }
}

.site-description {
  margin: 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;

  @include mobile {
    float: none;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    text-align: right;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

// cover 

.cover {
  position: relative;
  height: 500px;
  background-image: url({{ site.baseurl }}/images/background.jpg);
  background-size: cover;
  .cover-inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.1);
  }
}

.banner {
  position: relative;
  height: 500px;
  background-size: cover;
  .post-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    color: $white;
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {

  .post-header {
    .post-link {
      position: relative;
      display: inline-block;
      &:hover {
        &:before {
          left: 0;
          right: 0;
        }
      }
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 2px;
        bottom: 0;
        left: 51%;
        right: 51%;
        background: $underline;
        transition-duration: 0.2s;
        transition-property: right, left;
        transition-timing-function: ease-out;
      }
    }
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
    .read-more-link {
      padding: 2px 0;
      &:hover {
        border-bottom: 1px solid $underline;
      }
    }
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
