
//
// VARIABLES
//

// Colors
$blue: #59a0d5;

// Grays
$black: #243e4c;
$darkerGray: #21364a;
$darkGray: #383d44;
$gray: #879192;
$lightGray: #dadbdb;
$white: #fefefe;

// Font stacks
$helvetica: "Helvetica Neue","Helvetica",Arial,"Microsoft YaHei","SimSun",sans-serif;
$helveticaNeue: "Helvetica Neue","Helvetica",Arial,"Microsoft YaHei","SimSun",sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}