<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
  
    <div class="sidebar" id="sidebar">
      <div class="sidebar-profile">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/{{ site.avatar }}"></a>
        <h4 class="sidebar-profile-name">DarkZone</h4>
      </div>
      <ul class="sidebar-btn">
        <li class="sidebar-btn-link"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="sidebar-btn-link"><a href="{{ site.baseurl }}/about">About</a></li>
      </ul>
      <ul class="sidebar-btn">
        <li class="sidebar-btn-link"><a href="https://github.com/{{ site.footer-links.github }}">Github</a></li>
        <li class="sidebar-btn-link"><a href="mailto:{{ site.footer-links.email }}">Email</a></li>
      </ul>

      <ul class="sidebar-btn">
        <li class="sidebar-btn-link"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
      </ul>
    </div>

    <div class="wrapper-masthead j-push">
      <header class="masthead">
        <div class="site-avatar" id="avatar"><img src="{{ site.baseurl }}/images/{{ site.avatar }}" /></div>

        <div class="site-info">
          <a href="{{ site.baseurl }}/">{{ site.name }}</a>
        </div>

        <!-- 
        <nav>
          <a href="{{ site.baseurl }}/">主页</a>
          <a href="{{ site.baseurl }}/about">关于</a>
        </nav>
        -->
      </header>
    </div>

    <div class="j-push" id="main" role="main">      
        {{ content }}
    </div>

    <!-- 
    <div class="wrapper-footer j-push">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    -->

    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>

    {% include analytics.html %}
  </body>
</html>
