<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <!-- 百度统计 -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?1a6a823d11458eceaee79ab9ad72d918";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

  </head>

  <body>
    <div class="blog" id="blog">
      <div class="sidebar" id="sidebar">
        <div class="sidebar-profile">
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/{{ site.avatar }}"></a>
          <h4 class="sidebar-profile-name">DarkZone</h4>
        </div>
        <ul class="sidebar-btn">
          <li class="sidebar-btn-link">
            <a href="{{ site.baseurl }}/">
              <span class="icon ion-social-javascript"></span>
              <span class="sidebar-btn-link-desc">Home</span>
            </a>
          </li>
          <li class="sidebar-btn-link">
            <a id="toabout" href="{{ site.baseurl }}/#about">
              <span class="icon ion-social-html5"></span>
              <span class="sidebar-btn-link-desc">About</span>
            </a>
          </li>
        </ul>
        <ul class="sidebar-btn">
          <li class="sidebar-btn-link">
            <a href="https://github.com/{{ site.footer-links.github }}">
              <span class="icon ion-social-github"></span>
              <span class="sidebar-btn-link-desc">Github</span>
            </a>
          </li>
          <li class="sidebar-btn-link">
            <a href="mailto:{{ site.footer-links.email }}">
              <span class="icon ion-email"></span>
              <span class="sidebar-btn-link-desc">Email</span>
            </a>
          </li>
        </ul>

        <ul class="sidebar-btn">
          <li class="sidebar-btn-link">
            <a href="{{ site.baseurl }}/feed.xml">
              <span class="icon ion-social-rss"></span>
              <span class="sidebar-btn-link-desc">RSS</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="wrapper-masthead j-push">
        <header class="masthead">
          <div class="site-avatar" id="avatar"><img src="{{ site.baseurl }}/images/{{ site.avatar }}" /></div>

          <div class="site-info">
            <a href="{{ site.baseurl }}/">{{ site.name }}</a>
          </div>
        </header>
      </div>

      <div class="j-push" id="main" role="main" {% if page.type %} style="bottom: 0;" {% endif %}>      
          {{ content }}
      </div>

    </div>

    <div class="cover-all blur"></div>

    <div class="about" id="about">
      <div class="about-card">
        <a class="about-card-close">
          <i class="icon ion-close-round"></i>
        </a>
        <img class="about-card-avatar" src="{{ site.baseurl }}/images/avatar.jpeg" alt="Author's picture">
        <h4 class="about-card-name">DarkZone</h4>
        <p>
        小前端 / 死宅男<br/>
        偶尔抽风 / 时常不正经
        </p>
        <div class="about-card-job">
          <i class="icon ion-android-favorite"></i>
          <p>前端工程师</p>
        </div>
        <div class="about-card-location">
          <i class="icon ion-ios-location"></i>
          <p>浙江, 杭州</p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>

    {% include analytics.html %}
  </body>
</html>
