<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="blog">
      <div class="sidebar" id="sidebar">
        <div class="sidebar-profile">
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/{{ site.avatar }}"></a>
          <h4 class="sidebar-profile-name">DarkZone</h4>
        </div>
        <ul class="sidebar-btn">
          <li class="sidebar-btn-link">
            <a href="{{ site.baseurl }}/">
              <span class="icon ion-social-javascript"></span>
              <span class="sidebar-btn-link-desc">Home</span>
            </a>
          </li>
          <li class="sidebar-btn-link">
            <a href="{{ site.baseurl }}/#about">
              <span class="icon ion-social-html5"></span>
              <span class="sidebar-btn-link-desc">About</span>
            </a>
          </li>
        </ul>
        <ul class="sidebar-btn">
          <li class="sidebar-btn-link">
            <a href="https://github.com/{{ site.footer-links.github }}">
              <span class="icon ion-social-github"></span>
              <span class="sidebar-btn-link-desc">Github</span>
            </a>
          </li>
          <li class="sidebar-btn-link">
            <a href="mailto:{{ site.footer-links.email }}">
              <span class="icon ion-email"></span>
              <span class="sidebar-btn-link-desc">Email</span>
            </a>
          </li>
        </ul>

        <ul class="sidebar-btn">
          <li class="sidebar-btn-link">
            <a href="{{ site.baseurl }}/feed.xml">
              <span class="icon ion-social-rss"></span>
              <span class="sidebar-btn-link-desc">RSS</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="wrapper-masthead j-push">
        <header class="masthead">
          <div class="site-avatar" id="avatar"><img src="{{ site.baseurl }}/images/{{ site.avatar }}" /></div>

          <div class="site-info">
            <a href="{{ site.baseurl }}/">{{ site.name }}</a>
          </div>
        </header>
      </div>

      <div class="j-push" id="main" role="main">      
          {{ content }}
      </div>

    </div>

    <div class="cover-all"></div>

    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>

    {% include analytics.html %}
  </body>
</html>
